* {
	padding: 0;
	margin: 0;
	border: 0;/* обнуляет все отступы */
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;/* ширина и высота элементов будут включать в себя все отступы и границы */
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none; /* удаляют стандартный контур при получении фокуса (:focus) или при активном состоянии (:active) у элементов */
}

nav,
footer,
header,
aside {
	display: block;/*позволяет каждому из этих элементов занимать всю ширину контейнера */
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;/*100% от доступной области просмотра и размер шрифта задается в 14 пикселей в разных браузерах*/
}

input,
button,
textarea {
	font-family: inherit;/*Устанавливает дочерним элементам наследование шрифта от родительского элемента */
}

input::-ms-clear {
	display: none;/*Удаление кнопки очистки в полях ввода */
}

button {
	cursor: pointer;/*Устанавливает курсор в виде указателя для кнопок */
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;/*Удаляет внутренние отступы и границы у кнопок в браузере Firefox, */
}

a,
a:visited {
	text-decoration: none;/*Удаляет подчеркивание у обычных и посещенных ссылок */
}

a:hover {
	text-decoration: none;/*Удаляет подчеркивание у обычных и посещенных ссылок */
}

ul li {
	list-style: none;/*Убирает стандартные маркеры у элементов списка */
}

img {
	vertical-align: top;/*Устанавливает вертикальное выравнивание изображений по верхнему краю */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;/*Все заголовки наследуют размер шрифта от родительского элемента и устанавливают обычный вес шрифта */
}

body {
	font-family: Roboto, sans-serif;/* Шрифт для текста на странице (Roboto и запасной шрифт - sans-serif) */
	display: flex;/* Использует Flexbox для управления расположением дочерних элементов */
	flex-direction: column;/* Устанавливает направление оси Flexbox в столбец */
	justify-content: space-between;/* Равномерно распределяет пространство между дочерними элементами */
	color: #212529;/* Цвет текста на странице */
	font-size: 16px;/* Размер шрифта, 16 пикселей */
	line-height: 1.5;/* Межстрочный интервал, 1.6 раза больше размера шрифта */
	background-color: #f8f9fa;/* Цвет фона страницы (светлый серый) */
}

html {
	scroll-behavior: smooth;/* Плавный скроллинг при переходах к якорям и ссылкам на странице */
}

.container {
	max-width: 1000px;/* Максимальная ширина контейнера */
	margin: 0 auto;/* Центрирует контейнер по горизонтали */
}

.header {
	text-align: center;/* Центрирует текст в заголовке */
	padding: 32px 0;/* Отступы сверху и снизу */
	border-bottom: 1px solid #dee2e6;/* Нижняя граница */
}

.header-my-photo {
	height: 200px;/* Высота аватара */
	width: 200px;/* Ширина аватара */
}

.header-name {
	font-size: 32px;/* Размер шрифта */
	font-weight: 700;/* Жирное начертание текста */
	color: #0d6efd;/* Цвет текста */
	margin: 20px 0 5px;/* Внешние отступы */
}

.header-position {
	font-size: 20px;/* Размер шрифта */
	opacity: 0.9;/* Прозрачность текста */
}

.navigation-list {
	display: flex;/* Использует флекс-контейнер для навигационного списка */
	justify-content: center;/* Центрирует элементы списка по горизонтали */
	column-gap: 20px;/* Промежуток между элементами списка */
	padding: 20px 0;/* Отступы для верхней и нижней части */
	margin: 20px 0;/* Внешние отступы для всей группы навигационных элементов */
}

.navigation-link {
	color: #212529;/* Цвет текста для ссылок */
	font-weight: 500;/* Средняя жирность текста */
	transition: color 0.3s;/* Плавный переход для изменения цвета при наведении */
	padding: 5px;/* Отступы вокруг ссылки */
}

.navigation-link:hover {
	color: #0d6efd;/* Изменяет цвет текста при наведении на ссылку */
}

section {
	margin: 24px 0;/* внешний отступ для элемента */
	padding: 24px;/* внутренний отступ внутри элемента */
	background-color: #fff;/* цвет фона элемента */
	border-radius: 8px;/* закругление углов элемента */
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);/*теневая рамка к элементу */
	transition: box-shadow 0.7s;/* переход для эффекта изменения тени при изменении состояния элемента */
}

section:hover {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);/* селектор псевдокласса, который применяется к элементу */
}

h2 {
	font-size: 24px;/* Размер шрифта для заголовков h2 */
	font-weight: 700;/* Установлен жирный вес шрифта */
	color: #0d6efd;/* Цвет текста - синий (HEX код) */
	margin-bottom: 20px;/* Отступ снизу в 20 пикселей, чтобы отделить заголовок от следующего элемента */
}

.Contact information-location {
	margin-bottom: 20px;/* Отступ снизу в 20 пикселей для отделения блока контактной информации от следующего элемента */
}

.Contact information-item {
	margin-bottom: 8px;/* Отступ снизу в 8 пикселей для каждого элемента контактной информации */
}

.Contact information-link {
	color: #212529;/* Основной цвет текста ссылки - тёмно-серый */
	transition: color 0.3s;/* Плавный переход цвета с продолжительностью 0.3 секунды при наведении */
}

.Contact information-link:hover {
	color: #0d6efd;/* Цвет текста ссылки меняется на синий при наведении мыши */
}

.skills-item {
	margin-bottom: 8px;/* Отступ снизу в 8 пикселей для каждого элемента списка навыков */
}

.code-example {
	background-color: #f8f9fa;/* Светлый фон (светло-серый) для области примера кода */
	border-left: 3px solid #0d6efd;/* Левый край синий и шириной 3 пикселя - также служит акцентом */
	border-radius: 5px; /* Округлые углы для более плавного визуального оформления */
	padding-left: 16px;/* Отступ внутри блока слева в 16 пикселей для отделения текста от границы */
	margin: 16px 0;/* Отступ сверху и снизу в 16 пикселей */
}

code {
	font-family: 'Courier New', monospace;/* Шрифт моноширинного типа для кода */
	font-size: 13px;/* Размер шрифта - 13 пикселей, что делает текст менее громоздким */
	color: #212529;/* Цвет текста - тёмно-серый */
	font-weight: 700;/* Жирный шрифт для выделения кода */
}

.projects-link {
	color: #212529;
	transition: color 0.3s;
}

.projects-link:hover {
	color: #0d6efd;
}

.footer {
	margin: 32px 0 0;/* Отступ сверху в 32 пикселя, никаких отступов слева и справа, 0 отступ снизу */
	padding: 24px 0;/* Внутренние отступы сверху и снизу по 24 пикселя, без отступов справа и слева */
	text-align: center;/* Выравнивание текста по центру */
	border-top: 1px solid #dee2e6;/* Верхняя граница футера толщиной 1 пиксель, серый цвет */
}

.footer-image {
	height: 30px;/* Высота изображения установлена на 30 пикселей */
	transition: transform 0.3s;/* Плавный переход для трансформации, который будет длиться 0.3 секунды */
}

.footer-info {
	display: flex;/* Устанавливает флекс-контейнер для возможности выравнивания элементов */
	justify-content: space-between;/* Распределяет дочерние элементы по ширине и помещает их по краям контейнера */
	align-items: center;/* Выравнивает дочерние элементы по центру по вертикали */
}

.footer-github {
	color: #212529;/* Основной цвет текста ссылки - тёмно-серый */
	transition: color 0.3s; /* Плавный переход цвета текста с продолжительностью 0.3 секунды */
}
}

.footer-github:hover {
	color: #0d6efd;/* Цвет текста ссылки меняется на синий при наведении мыши */
}
